#!/usr/bin/make -f

export QT_SELECT = qt5

%:
	dh $@

override_dh_install:
	dh_install -pguidedog guidedog usr/bin
	dh_install -pguidedog system/51guidedog etc/ppp/ip-up.d
	dh_install -pguidedog system/51guidedog etc/ppp/ip-down.d
	dh_install -pguidedog system/51guidedog etc/network/if-up.d
	dh_install -pguidedog system/51guidedog etc/network/if-down.d
	dh_install -pguidedog system/guidedog.desktop usr/share/applications
	dh_install -pguidedog icons/hicolor/48x48/apps/guidedog.png usr/share/icons/hicolor/48x48/apps
	dh_install -pguidedog icons/hicolor/32x32/apps/guidedog.png usr/share/icons/hicolor/32x32/apps
	dh_install -pguidedog icons/locolor/32x32/apps/guidedog.png usr/share/icons/locolor/32x32/apps
	dh_install -pguidedog icons/locolor/16x16/apps/guidedog.png usr/share/icons/locolor/16x16/apps
	dh_install --list-missing
