[Desktop Entry]
Type=Application
Exec=guidedog 
Icon=guidedog.png
DocPath=guidedog/index.html
Comment=
Terminal=0
Name=Guidedog
GenericName=Port forwarding
Keywords=iptables, forward
Name[en_US]=guidedog.desktop
