[Desktop Entry]
Name=Guidedog as root
GenericName=Port forwarding
Comment=
Keywords=iptables, forward
Type=Application
Exec=gksudo guidedog 
Icon=guidedog.png
DocPath=guidedog/index.html
Terminal=0
